

<!--begin::Footer-->
<footer class="app-footer">
    <!--begin::Copyright--> 
    <strong>
        Copyright &copy; <span id="year">2026</span>&nbsp;
        <a href="https://www.visionplus.com.pk/" class="text-decoration-none">Vision Plus Technologies (Pvt.) Ltd</a>.
    </strong>
    <script>document.getElementById('year').textContent = new Date().getFullYear();</script>
    All rights reserved.
    <!--end::Copyright-->
</footer> <!--end::Footer-->